[kinetic model]
monomerBirthH = 1.0
monomerBirthP = 1.0
growth = 1.0
unfoldedDegradation = 0.1       ; degradation rate
unfolding = 0.1
foldedDegradation = 0.1         ; degradation rate for folded polymers
hydrophobicEnergy = -1.0
maxLength = 18                  ; maximum length of the polymers for which folded conformations are known and present in the library (nativeList.txt)
